
.about-page {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
    border-top: solid 12px #f6f6f6;
    border-bottom: solid 12px #f6f6f6;

    h1.page-title {
        margin-bottom: 20pt;
        span {
            display: inline-block;
            padding: 10px;
            border: solid 2px #000000;
        }
    }

    article {
        display: relative;
        .about-page-article {
            display: inline-block;
            font-size: 12pt;
            line-height: 30px;
        }

        ul.about-page-images {
            float: right;
            list-style: none;
            li {
                align-items: center;
                text-align: center;
                line-height: 2px;
                margin-bottom: 16px;;
                h5 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }    
}

.image-cropper {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: solid 12px #fdfdfd;
  
    img {
        display: block;
        padding: 20 -200 -20 200;
        width: 100%;
        }
    }

@include media-breakpoint-up(md) {

    .about-page {
        display: flex;
        flex-direction: row;
        header {
            display: flex;
            margin-right: 5em;
        }

        article {
            display: flex;
            .about-page-article {
                display: inline-block;
                font-size: 12pt;
                line-height: 30px;
                width: 90%;
            }

            ul.about-page-images {
                display: inline-block;
                width: 100%;     
                list-style: none;
                display: relative;
                li {
                    align-items: center;
                    text-align: center;
                    line-height: 2px;
                    margin-bottom: 16px;;
                    h5 {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }


    .image-cropper {
        width: 220px;
        height: 220px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: solid 12px #fdfdfd;
      
        img {
            display: block;
            padding: 20 -200 -20 200;
            width: 100%;
            }
        }    
    }
}
    

@include media-breakpoint-down(lg) {
     
}

@include media-breakpoint-down(md) {

}

.call-out {
    display: inline;
    font-size: 15pt;
    font-weight: 700;
}
