/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,100,200,300,400,500');

* {
    font-family: Montserrat;
}

.menu {
    background-color: #fefefe;
}

.rows {

}

.columns h1, h2, h3 {
    text-align: center;
}

.columns h3 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 8pt;
}
