@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,100,200,300,400,500');
@import "./Portfolio.scss";
@import "./Home.scss";
@import "./About.scss";
@import "./modals.scss";
@import "./nav.scss";

* {
    font-family: Montserrat;
}

body, #root {
    background-color: #f5f6f6;
}

ul.small-logo {
    border: solid 2px #000000;
    background-color: #ffffff;
    line-height: 5px;
    padding: 3px 0px 2px 3px;
    margin: 0px;
    text-align: center;
    width: 72px;
    list-style: none;
}


ul.small-logo li {
    font-weight: 500;
    line-height: 13px;
    margin: 5px;
    padding: 0px;
    letter-spacing: 6px;
}

ul.small-logo li:nth-child(3) { 
    letter-spacing: 4px;
}

ul.small-logo li:nth-child(4) {
    padding-left: 1px;
}

.terred {
    color: #cc5500;
}

.redred {
    color: #ff0000;
}


