

ul.main-menu {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    // grid-template-rows: repeat(22, 7%);
    margin-top: 20pt;

    li {
        padding-top: .4rem;
        padding-bottom: 1.2rem;

        list-style: none;
        a {
            font-weight: normal;
            color: #666666;
            text-decoration: none;
        }

        img {
            width: 100%; 
            min-height: 100%;
            object-fit: cover;
        }
    }

    li:nth-child(1) {
        border-right: solid 1px #994422;
    }

}