.home-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-column {
    padding-top: 11px;
    padding-bottom: 18px;
    cursor: pointer;

    h3 {
        font-weight: 500;
        padding: 11px;
    }

    a {
        display: inline-block;
    }

    a:link, a:visited, a:active {
        text-decoration: none;
        color: #000000;
    }
    
    a:hover {
        text-decoration: underline;
    }
  
    img {
        width: 90%;
        height: 100%;
    }

}

.home-column:nth-child(1) {
    border-left: none;
}


@include media-breakpoint-up(lg) {
    
    .home-column {
        border-left: solid 1px #cc5500;

        img {
            width: 90%;
        }

    
        h3 {
            font-size: 1em;
            letter-spacing: 5pt;
        }

    }
}

@include media-breakpoint-down(lg) {
    
    .home-column {
        img {
            width: 80%;
        }

        h3 {
            font-size: 0.8em;
            letter-spacing: 2pt;
        }

    }    
}

@include media-breakpoint-down(md) {

    .home-row {
        flex-direction: column;        
        align-items: center;        
    }
    .home-column {
        h3 {
            font-size: 1.2em;
            letter-spacing: 2pt;
        }
    }
}

