
body.modal-open {
    width: 100%;
}
.modal-lg {
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal-backdrop {
    max-height: 100%;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal-header {
    text-align: center;
}

.modal-body {
    max-height: 800px;
    overflow: hidden;
}

.modal__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}