
@include media-breakpoint-up(md) {

    div.grid-gallery {
        grid-template-rows: repeat(11, 2.6rem);
        grid-gap: .5rem;
    }
}

@include media-breakpoint-down(md) {
    div.grid-gallery {
        grid-template-rows: repeat(11, 1.2rem);
        grid-gap: .2rem;
    }
}

a.carousel-control-prev,  a.carousel-control-next {
    width: 5%;
}

div.grid-gallery {
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f6f5f5;
    display: grid;
    grid-template-columns: repeat(27, 1fr);

    .gallery__img {
        width: 100%; 
        min-height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .gallery__item {
        height: 100%;
        overflow: hidden;        
    }

}