@import "./Hotel.scss";
@import "./Hotel2.scss";
@import "./Hotel3.scss";
@import "./Restaurant.scss";
@import "./Restaurant2.scss";
@import "./Residence.scss";
@import "./Residence2.scss";
@import "./Residence3.scss";
@import "./Residence4.scss";
@import "./Residence5.scss";


@include media-breakpoint-up(md) {

    div.grid-gallery {
        grid-template-rows: repeat(11, 3rem);
        grid-gap: .5rem;
    }
}

@include media-breakpoint-down(md) {
    div.grid-gallery {
        grid-template-rows: repeat(11, 1.2rem);
        grid-gap: .2rem;
    }
}

a.carousel-control-prev,  a.carousel-control-next {
    width: 5%;
}

div.grid-gallery {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    border-top: solid 12px #f6f6f6;
    border-bottom: solid 12px #f6f6f6;
    max-width: 1240px;
    margin: auto;

    .gallery__img {
        width: 100%; 
        min-height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .gallery__item {
        height: 100%;
        overflow: hidden;        
    }

}