div.restaurant {
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery__item--2 {
        grid-column-start: 11;
        grid-column-end: 20;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .gallery__item--3 {
        grid-column-start: 20;
        grid-column-end: 28;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end: 11;
    }    

    .gallery__item--5 {
        grid-column-start: 11;
        grid-column-end: 20;
        grid-row-start: 5;
        grid-row-end: 11;
    }
    .gallery__item--6 {
        grid-column-start: 20;
        grid-column-end: 28;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    .gallery__item--7 {
        grid-column-start: 20;
        grid-column-end: 28;
        grid-row-start: 8;
        grid-row-end: 11;
    }
}
